[submodule "modules/backend"]
	path = modules/backend
	url = https://github.com/devopsbookmarks-org/devopsbookmarks-backend.git
[submodule "modules/frontend"]
	path = modules/frontend
	url = https://github.com/devopsbookmarks-org/devopsbookmarks-frontend.git
